* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: inherit;
    font-family: inherit;
}

:root {
    font-size: 16px;
    font-family: "cabin", sans-serif;

    --dark-background: #415a77;
    --light-background: #e0e1dd;
    --table-borders: #929292;
}

body {
    background-color: var(--dark-background);
}

header {
    display: flex;
    padding: 40px;
    color: var(--light-background);
}

header svg {
    width: 4rem;
    align-self:center;
}

.page-title {
    font-size: 3rem;
    padding: 0px 20px;
}

main {
    width: 100vw;
}

.library-ui {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    width: 20vw;
    justify-content: start;
    align-items: baseline;
    padding-left: 80px;
}

.library-header {
    font-size: 1.75rem;
    color: var(--light-background);
    padding-bottom: 20px;
}

.ui-buttons {
    display:flex;
    gap:20px;
    font-size:1.2rem;
    width:6vw;
}

.new-book-button {
    flex:1;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#card-display {
    flex:1;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    
}

.new-book-container {
    background-color: var(--light-background);
    width: 100vw;

    max-height: 0;

    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.new-book-form {
    padding: 20px 80px;
    width: 70vw;

    display: grid;
    grid-template-columns: max-content 1fr max-content 1fr;
    align-items: center;
    gap: 1.5rem;
}

form input {
    padding: 10px;
    border-radius: 5px;
}

form input::placeholder {
    font-style: italic;
}

form select {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.new-book-form label {
    padding-left: 50px;
    justify-self: right;
}

.library-container {
    padding-top: 20px;
    padding-left: 80px;
}

#add-book-button {
    padding: 10px 20px;
    border-radius: 10px;
    grid-column: -1 / -2;
    justify-self: center;

    background-color: var(--dark-background);
    border: 1px solid var(--dark-background);
    color: var(--light-background);
}

#add-book-button:hover {
    background-color: #54759b;
}

#add-book-button:active {
    background-color: #1c2633;
}

table {
    background-color: var(--dark-background);
    border-collapse: collapse;
    border: 1px solid var(--table-borders);
    width: 70vw;
}

th {
    font-size: 1.5rem;
    text-align: left;
    padding: 10px 20px;
    background-color: var(--light-background);
}

.remove-column {
    display: grid;
    place-content: center;

    margin: 0;
    padding: 10px 0px;
}

.remove-button {
    background-color: inherit;
    padding: .2rem .6rem;
    border-radius: 5px;
}

.remove-button:hover {
    background: #fff;
}

.remove-button:active {
    background: var(--dark-background);
}

tr {
    background-color: var(--light-background);
}

tr:nth-child(even) {
    background-color: #c4c4c4;
}

td {
    padding: 10px 20px;
    margin: 10px;
}

.title {
    font-weight: 600;
    font-size: 1.125rem;
}

.isRead {
    text-align: center;
}

